<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Manage Node.js projects and npm packages using package.json</h1>
         <h3>Part 1 of Free Code Camp Backend Challenges</h3>
      </div>
     
      <a href="./">
        <h1>Timestamp Microservice</h1>
    </a>
    <h2>Example Usage</h2>
    <div>
        <a href="./December%2015,%202015" target="_blank">http://timestampms-fcc.herokuapp.com/December%2015,%202015</a>
        <a href="./1450137600" target="_blank">http://timestampms-fcc.herokuapp.com/1450137600</a>
    </div>
    <h2>Example Output</h2>
    <div>
        <code>
            { "unix": 1450137600, "natural": "December 15, 2015" }
        </code>
    </div>
     <br>
     <br>
     <hr>
     <div>
       <p>
         made with love by <a href="https://www.freecodecamp.org/maximilientoumi">ITguymax</a>
       </p>
     </div>
   </body>

</html>
